{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center justify-content-center my-5">
            <div class="col-xl-5 col-lg-6 text-center">
                <img src="static/books.png" alt="Books" class="img-fluid" width="400" height="300">
            </div>
            <div class="col-xl-5 col-lg-6">
                {% if session['username'] %}  Hi {{ session['username'] }} ! {% endif %}
                <h1 class="display-5 fw-bold">Search for books</h1>
                <p class="lead">
                    Wondering what books to read next?<br>
                    Browse our books database to find your next book!<br>
                    We optimise your searches to bring you the exact books you want to read.
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}