{% extends 'base.html' %}
{% block title %}Register| RBLX{% endblock %}
{% block content %}
<body style="background-color: #f9f9f8;">
  <div class="container text-center" style="margin-top:50px; margin-bottom: 30px;">
    <h4 style="font-weight:bold">Register</h4>
    <h6>Receive offers, rewards and news when you become one of our patrons.</h6>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="container-fluid">
        <div class="alert alert-danger" role="alert" style="max-width: 500px; margin: auto; margin-bottom: 20px;">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>    
    </div>
    {% endif %}
  {% endwith %}
  <div class="container bg-white" style="padding: 50px; max-width: 500px; box-shadow: 0px 0px 2px 2px #e8e8e8;">
    <form action="{{ url_for('register') }}" method="post" class="was-validated">
        <div class="form-outline mb-4">
            <label class="form-label" for="name">Your name:</label>
            <input type="text" name ="name" id="name" class="form-control form-control-lg" maxlength="50" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Email:</label>
            <input type="text" name ="email" id="email" class="form-control form-control-lg" maxlength="50" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Username:</label>
            <input type="text" name ="username" id="username" class="form-control form-control-lg" maxlength="50" required/>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control form-control-lg" maxlength="200" required/>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="dob">Date of birth:</label>
          <input type="date" name ="dob" id="dob" class="form-control form-control-lg" required/>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="phone">Phone number:</label>
          <input type="text" name ="phone" id="phone" class="form-control form-control-lg" maxlength="25"/>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="address">Address:</label>
          <input type="text" name ="address" id="address" class="form-control form-control-lg mb-5" maxlength="255">
        </div>
        <input type="submit" value="Register" class="btn btn-dark btn-block mb-4"></input>

        <a href="{{ url_for('login') }}" style="border-radius: 0;padding: 10px;margin-top: 10px;" class="btn btn-dark btn-block mb-4">Sign in</a>
    </form>
  </div>
</body>
{% endblock %}